.grid-comp-form-ele {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
  background-color: $inputBg;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.grid-comp-select {
  width: 100%;
  height: $inputHeight;
  padding: 7px 30px 7px 10px;
  border: none;
  border-bottom: 1px solid $inputBorderColor;
  cursor: pointer;
}

.grid-comp-select-container {
  position: relative;
  width: 100%;
  max-width: 250px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
  }

  &::before {
    top: 1px;
    right: 1px;
    width: $dropdownArrowWidth;
    height: calc(100% - 2px);
    background-color: $inputBg;
  }

  &::after {
    top: 50%;
    right: #{$dropdownArrowWidth / 2};
    border: 1px solid transparent;
    border-right-color: $primaryColor;
    border-bottom-color: $primaryColor;
    width: $dropdownArrowSize;
    height: $dropdownArrowSize;
    margin-top: -6px;
    margin-right: -4px;
    @include prefix(transform, rotate(45deg));
  }

  &.no-border .grid-comp-form-ele {
    border: none;
  }

  &.full-border .grid-comp-form-ele {
    border: 1px solid $inputBorderColor;
    padding: 0 8px;
  }

  &.transparent .grid-comp-form-ele {
    background-color: transparent;
  }

  .grid-comp-form-ele:focus {
    border-color: $primaryColor;
  }
}

.grid-comp-custom-input-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  .grid-comp-custom-input-button {
    display: inline-flex;
    position: relative;

    &::after {
      content: '';
      pointer-events: none;
    }
  }

  .grid-comp-custom-input-text {
    display: inline-flex;
    margin-left: 4px;
  }

  input:checked + .grid-comp-custom-input-button {
    background-color: $primaryColor;
  }

  input:disabled + .grid-comp-custom-input-button {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.grid-comp-checkbox-container,
.grid-comp-radio-container {
  .grid-comp-custom-input-button {
    width: $customInputSize;
    height: $customInputSize;
    background-color: transparent;
    border: 2px solid $primaryColor;
    @include prefix(transition-duration, 0.2s);

    &::after {
      display: flex;
      opacity: 0;
    }
  }

  input:checked + .grid-comp-custom-input-button {
    &::after {
      opacity: 1;
    }
  }
}

.grid-comp-checkbox-container {
  .grid-comp-custom-input-button {
    border-radius: 2px;

    &::after {
      width: 80%;
      height: 45%;
      border: 2px solid $customInputBg;
      border-top-color: transparent;
      border-right-color: transparent;
      @include prefix(transform, rotate(-45deg) translate(0, 2px));
    }
  }

  input.partial:not(:checked) {
    & + .grid-comp-custom-input-button {
      background-color: $primaryColor;

      &::after {
        opacity: 1;
        border: none;
        height: 2px;
        background-color: $customInputBg;
        @include prefix(transform, rotate(0) translate(1px, 5px));
      }
    }
  }
}

.grid-comp-radio-container {
  .grid-comp-custom-input-button {
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    &::after {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $customInputBg;
    }
  }
}

.grid-comp-switch-container {
  .grid-comp-custom-input-button {
    width: $switchWidth;
    height: $switchHeight;
    background-color: $switchBg;
    border-radius: 10px;
    @include prefix(transition-duration, 0.2s);

    &::after {
      position: absolute;
      top: 2px;
      left: 2px;
      width: #{$switchHeight - 4px};
      height: #{$switchHeight - 4px};
      background-color: $customInputBg;
      border-radius: 50%;
      @include prefix(transition-duration, 0.2s);
    }
  }

  input:checked + .grid-comp-custom-input-button {
    &::after {
      left: #{$switchWidth - $switchHeight + 2px};
    }
  }
}

.grid-comp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $primaryFontColor;
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 14px;
  font-size: $fontSize;
  font-family: $fontFamily;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
}

.grid-comp-button-secondary {
  background-color: transparent;
  border-color: $primaryColor;
  color: $primaryColor;
}

.grid-comp-button-small {
  padding: 0 14px;
  font-size: $fontSizeSmall;
}

.grid-comp-input-container {
  position: relative;
  width: $inputWidth;
}

.grid-comp-input {
  width: 100%;
  height: $inputHeight;
  padding: 0;
  border: none;
  border-bottom: 1px solid $inputBorderColor;

  &.full-border {
    border: 1px solid $inputBorderColor;
    padding: 0 8px;
  }

  &:focus {
    border-color: $primaryColor;
  }
}

.grid-comp-input-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 1px;
  right: 0;
  width: $inputIconWidth;
  height: #{$inputHeight - 2px};
  background-color: $inputBg;
  color: $primaryColor;
}

.grid-comp-input-container {
  &.icon-position-left {
    .grid-comp-input {
      padding-left: $inputIconWidth;
    }

    .grid-comp-input-icon {
      justify-content: flex-start;
      right: auto;
      left: 0;
    }
  }
}
