.grid-comp-settings-popover {
  width: 300px;

  .grid-comp-more-shadow-container {
    width: 100%;
  }
}

.grid-comp-settings-popover-header {
  width: 100%;
  padding: 0 20px;
}

.grid-comp-settings-popover-search-container {
  width: 100%;
}

.grid-comp-settings-popover-body {
  width: 100%;
  min-height: 10vh;
  max-height: 50vh;
  padding: 10px 0;

  .sortable-comp-container {
    padding: 0 $settingsPopoverPadding;
  }

  .sortable-comp-item-clone {
    width: calc(100% - #{$settingsPopoverPadding * 2});
    left: $settingsPopoverPadding;
    background-color: $activeBg;
  }
}

.grid-comp-settings-column-item-order-button {
  width: $settingsColumnItemOrderButtonWidth;
  justify-content: flex-start;
  opacity: 0.4;
  cursor: move;
}

.grid-comp-settings-column-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  padding: 0 4px;
  border-bottom: 1px solid $borderColor;

  &:hover {
    background-color: $activeBg;

    .grid-comp-settings-column-item-order-button {
      color: $primaryColor;
      opacity: 0.6;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.grid-comp-settings-column-item-name {
  @include ellipsis;
  width: calc(100% - #{$switchWidth + $settingsColumnItemOrderButtonWidth});
  padding-right: 4px;
  user-select: none;
}

.grid-comp-settings-popover-footer {
  display: none;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: $settingsPopoverFooterHeight;
  padding: 0 20px;
  background-color: $popoverBg;
  border-top: 1px solid $borderColor;

  .grid-comp-button {
    margin-left: 8px;
  }
}

.grid-comp-settings-popover {
  &.has-value-changed {
    .grid-comp-settings-popover-footer {
      display: flex;
    }
  }
}
