:root {
  --grid-comp-color-primary: #ff6400;
  --grid-comp-color-primary-font: #fff;
  --grid-comp-color-primary-bg: #fff;

  --grid-comp-color-font: rgba(0, 0, 0, 0.8);
  --grid-comp-color-font-light: rgba(0, 0, 0, 0.6);
  --grid-comp-color-font-head: rgba(0, 0, 0, 0.6);

  --grid-comp-color-border: #f5f5f5;
  --grid-comp-color-border-input: #ecedee;
  --grid-comp-color-border-footer: #ccc;

  --grid-comp-color-shadow: 0, 0, 0;
  --grid-comp-color-active-bg: #fff7f3;
  --grid-comp-color-rows-loader-bg: rgba(255, 255, 255, 0.7);
  --grid-comp-color-loader-shadow: rgba(0, 0, 0, 0.3);
  --grid-comp-color-input-bg: var(--grid-comp-color-primary-bg);
  --grid-comp-color-popup-bg: rgba(0, 0, 0, 0.8);
  --grid-comp-color-popup-header-bg: #fafafa;
  --grid-comp-color-popover-bg: var(--grid-comp-color-primary-bg);
  --grid-comp-color-custom-input-bg: #fff;
  --grid-comp-color-switch-bg: #dbdbdb;
  --grid-comp-color-a-tag: var(--grid-comp-color-primary);
  --grid-comp-color-icon: var(--grid-comp-color-font-head);
  --grid-comp-color-row-hover-bg: var(--grid-comp-color-active-bg);
  --grid-comp-color-row-hover-font: var(--grid-comp-color-primary);
  --grid-comp-color-resizing-line: var(--grid-comp-color-primary);
  --grid-comp-color-filter-tag-bg: transparent;
  --grid-comp-color-filter-tag-border: #e6e6e6;

  --grid-comp-color-tooltip-bg: #212121;
  --grid-comp-color-tooltip-font: #fff;
}

.grid-comp-theme-dark {
  --grid-comp-color-primary-bg: #202020;

  --grid-comp-color-font: rgb(200, 200, 200);
  --grid-comp-color-font-light: rgba(110, 110, 110, 0.81);
  --grid-comp-color-font-head: rgb(125, 125, 125);

  --grid-comp-color-border: #333;
  --grid-comp-color-border-input: #3e3e3e;

  --grid-comp-color-shadow: 100, 100, 100;
  --grid-comp-color-active-bg: #312520;
  --grid-comp-color-rows-loader-bg: rgba(0, 0, 0, 0.7);
  --grid-comp-color-loader-shadow: rgba(255, 255, 255, 0.3);
  --grid-comp-color-input-bg: var(--grid-comp-color-border-input);
  --grid-comp-color-popup-header-bg: #232324;
  --grid-comp-color-popover-bg: var(--grid-comp-color-input-bg);
  --grid-comp-color-switch-bg: #606060;
  --grid-comp-color-icon: rgb(152, 152, 152);
  --grid-comp-color-row-hover-bg: #282828;
  --grid-comp-color-filter-tag-bg: var(--grid-comp-color-input-bg);
  --grid-comp-color-filter-tag-border: var(--grid-comp-color-input-bg);

  --grid-comp-color-tooltip-bg: #3e3e3e;
  --grid-comp-color-tooltip-font: rgb(200, 200, 200);
}
