$primaryColor: var(--grid-comp-color-primary);
$primaryFontColor: var(--grid-comp-color-primary-font);
$primaryBg: var(--grid-comp-color-primary-bg);

$fontColor: var(--grid-comp-color-font);
$fontColorLight: var(--grid-comp-color-font-light);
$fontColorHead: var(--grid-comp-color-font-head);

$borderColor: var(--grid-comp-color-border);
$inputBorderColor: var(--grid-comp-color-border-input);
$footerBorderColor: var(--grid-comp-color-border-footer);

$activeBg: var(--grid-comp-color-active-bg);
$loaderShadowColor: var(--grid-comp-color-loader-shadow);
$inputBg: var(--grid-comp-color-input-bg);
$popupBg: var(--grid-comp-color-popup-bg);
$popupHeaderBg: var(--grid-comp-color-popup-header-bg);
$popoverBg: var(--grid-comp-color-popover-bg);
$switchBg: var(--grid-comp-color-switch-bg);
$customInputBg: var(--grid-comp-color-custom-input-bg);
$tooltipBg: var(--grid-comp-color-tooltip-bg);
$tooltipFontColor: var(--grid-comp-color-tooltip-font);
$rowsLoaderBg: var(--grid-comp-color-rows-loader-bg);
$aTagColor: var(--grid-comp-color-a-tag);
$iconColor: var(--grid-comp-color-icon);
$rowHoverBg: var(--grid-comp-color-row-hover-bg);
$rowHoverColor: var(--grid-comp-color-row-hover-font);
$resizingLineColor: var(--grid-comp-color-resizing-line);
$filterTagBg: var(--grid-comp-color-filter-tag-bg);
$filterTagBorderColor: var(--grid-comp-color-filter-tag-border);

$fontFamily: inherit;
$fontSize: 14px;
$fontSizeSmall: 13px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$fontWeight: 400;
$fontWeightSemiBold: 500;
$fontSizeHead: 13px;

$theadHeight: 40px;
$trHeight: 45px;
$headerHeight: 60px;
$footerHeight: 36px;

$colPaddingLeft: 15px;
$colPaddingRight: 15px;
$colPaddingHorizontal: $colPaddingLeft + $colPaddingRight;
$colLineHeight: 29px;

$iconSize: 16px;
$iconSizeSmall: 14px;
$iconSizeMedium: 18px;
$resizeButtonSize: $iconSize;
$headerIconButtonSize: 36px;

$stickyColRightShadowBg: linear-gradient(to left, $primaryBg, transparent);

$boxShadow1: 0 -1px 7px 0 rgba(var(--grid-comp-color-shadow), 0.07);
$boxShadow2: 0 4px 8px 0 rgba(var(--grid-comp-color-shadow), 0.2);
$boxShadow3: 0 -4px 8px 0 rgba(var(--grid-comp-color-shadow), 0.2);
$boxShadow4: inset 0px 11px 8px -10px rgba(var(--grid-comp-color-shadow), 0.16);
$boxShadow5: inset 0px -11px 7px -12px rgba(var(--grid-comp-color-shadow), 0.16);
$boxShadow6: 2px 2px 8px rgba(var(--grid-comp-color-shadow), 0.22);
$boxShadow7: 5px 0px 7px 0 rgba(var(--grid-comp-color-shadow), 0.07);

$dropdownArrowWidth: 30px;
$dropdownArrowSize: 8px;

$inputWidth: 200px;
$inputHeight: 36px;
$inputHeightSmall: 34px;
$inputIconWidth: $iconSizeSmall + 8px;
$customInputSize: 16px;
$switchWidth: 28px;
$switchHeight: $switchWidth / 2;

$settingsPopoverPadding: 20px;
$settingsPopoverFooterHeight: 50px;
$selectableColWidth: 20px;
$selectedRowsClearButtonWidth: $colPaddingHorizontal;
$settingsColumnItemOrderButtonWidth: 20px;

$filtersBoxHeaderHeight: 50px;
$filtersBoxFooterHeight: 60px;
$filtersBoxPadding: 20px;
$filtersTagsHeight: 50px;
$filtersTagsMoreButtonWidth: 34px;
$filtersTagsContainerPadding: 10px;

$animationDuration: 300ms;
$transitionDuration: 250ms;

$accordionHeight: 40px;
$accordionPadding: $filtersBoxPadding;

$minZIndex: 1;
$zIndexHeadCol: $minZIndex;
$zIndexStickeyCol: $zIndexHeadCol + 1;
$zIndexHeadStickeyCol: $zIndexStickeyCol + 1;
$zIndexSelectedRowsActionsBox: $zIndexHeadStickeyCol + 1;
$zIndexResizeButton: $minZIndex + 1;
$zIndexFooter: $minZIndex + 2;
$zIndexFiltersTags: $minZIndex + 4;
$zIndexRowsLoader: $minZIndex + 4;
$zIndexFiltersBox: $minZIndex + 6;
$zIndexRightColShadow: $minZIndex + 6;
$zIndexResizingLine: $minZIndex + 6;
