.grid-comp-wrapper {
  .vscomp-ele {
    background-color: transparent;
  }

  .vscomp-wrapper {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  .vscomp-arrow::after {
    border-right-color: $primaryColor;
    border-bottom-color: $primaryColor;
  }

  .vscomp-toggle-button {
    height: $inputHeight;
    background-color: $inputBg;
    border-color: $inputBorderColor;
  }

  .vscomp-dropbox {
    background-color: $inputBg;
  }

  .vscomp-wrapper {
    .checkbox-icon::after {
      border-color: $primaryColor;
    }

    &.multiple {
      .vscomp-option.selected .checkbox-icon::after {
        @include virtual-select-checkbox-checked;
      }
    }

    .checkbox-icon.checked::after {
      @include virtual-select-checkbox-checked;
    }

    &.no-border {
      .vscomp-toggle-button {
        border: none;
        box-shadow: none !important;
      }
    }

    &.transparent {
      .vscomp-toggle-button {
        background-color: transparent;
      }
    }

    &:focus,
    &.focused {
      .vscomp-toggle-button {
        border-color: $primaryColor;
        box-shadow: none !important;
      }
    }
  }

  .vscomp-option {
    &.selected {
      color: $primaryColor;
      background-color: transparent;
    }

    &.focused {
      background-color: $activeBg;
    }
  }

  .vscomp-clear-icon {
    &::before,
    &::after {
      opacity: 0.5;
      background-color: $fontColor;
    }
  }

  .vscomp-clear-button:hover {
    background-color: transparent;

    .vscomp-clear-icon {
      &::before,
      &::after {
        opacity: 1;
        background-color: $fontColor;
      }
    }
  }
}
